@model IEnumerable<CoolCareSystem.Models.RatingModel>

@{
    ViewBag.Title = "GenerateReport";
}

<div class="row">
    <div class="col-md-12">
        <p class="title1">GenerateReport</p>
    </div>
    <div class="col-md-3">
        <label>Select Month</label>
    </div>
    <div class="col-md-9">
        @(Html.DevExtreme().SelectBox()
        .DataSource(new[] {
            new { Name = "Januray", Month = "01" },
            new { Name = "February", Month = "02"},
            new { Name = "March", Month = "03" },
            new { Name = "April", Month = "04" },
            new { Name = "May", Month = "05" },
            new { Name = "June", Month = "06" },
            new { Name = "July", Month = "07" },
            new { Name = "August", Month = "08" },
            new { Name = "September", Month = "09" },
            new { Name = "October", Month = "10" },
            new { Name = "November", Month = "11" },
            new { Name = "December", Month = "12" },
        })
        .ID("monthDropDown")
        .DisplayExpr("Name")
        .ValueExpr("Month")
        .Placeholder("Select Month")
        .Width(300)
        .OnValueChanged("monthValueChange")
    )
    </div>
</div>
<br />
@Html.ActionLink("Get Report", "GenerateReport", "Report", new { Month = 00 }, new { @class = "btn btn-primary btn-xs reportlink" })
@if (Model.Count()>0)
{
    <button class="btn btn-primary btn-xs piechartLink pull-right">Pie Chart</button>
    <button class="btn btn-primary btn-xs barchartLink pull-right" style="margin-right:5px">Bar Chart</button>
    <button class="btn btn-primary btn-xs linechartLink pull-right" style="margin-right:5px">Line Chart</button>
}
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <br />
        <br />
        @(Html.DevExtreme().DataGrid()
                .ID("reportSGridContainer")
                .DataSource(Model)
                .RowAlternationEnabled(true)
                .RepaintChangesOnly(true)
                .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("ReportsAdmin"))
                .Export(e => e.Enabled(true).AllowExportSelectedData(true))
                .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(true))
                .AllowColumnReordering(true)
                .ShowBorders(true)
                .ColumnAutoWidth(true)
                .Grouping(g => g.AutoExpandAll(true))
                .Pager(p => p.ShowPageSizeSelector(true).AllowedPageSizes(new[] { 5, 10, 20 }))
                .Paging(p => p.PageSize(10))
                .GroupPanel(g => g.Visible(true).EmptyPanelText("Drag a column"))
                .Sorting(s => s.Mode(GridSortingMode.Multiple))
                .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select))
                .ShowColumnLines(true)
                .Columns(columns =>
                {
                    columns.Add()
                    .DataField("WorkerId")
                    .Caption("Worker Id")
                    .Alignment(HorizontalAlignment.Left);
                    columns.Add()
                    .DataField("WorkerName");
                    columns.Add()
                    .DataField("Rating");
                })
            )
    </div>
    <div class="col-md-6" id="pieChartDiv">
        @(Html.DevExtreme().PieChart()
            .Series(s => {
                s.Add().ArgumentField("WorkerName").ValueField("Rating").Label(e => e.Visible(true).Connector(c => c
                .Visible(true)
                .Width(0.5)
            ));

            })
            .ID("pieChart")
            .Palette(VizPalette.SoftBlue)
            .SizeGroup("sizeGroupName")
            .Legend(l => l
                .VerticalAlignment(VerticalEdge.Bottom)
                .HorizontalAlignment(HorizontalAlignment.Center)
                .ItemTextPosition(Position.Right)
                .RowCount(2)
            )
            .DataSource(Model)
    )
    </div>
    <div class="col-md-6" id="barChartDiv">
        @(Html.DevExtreme().Chart()
        .ID("barChart")
        .Series(s => s
            .Add()
            .ArgumentField("WorkerName")
            .ValueField("Rating")
            .Type(SeriesType.Bar)
            .Name("Ratings")
        )
        .DataSource(Model)
        .Palette(VizPalette.SoftBlue)
    )
    </div>
    <div class="col-md-6" id="lineChartDiv">
        @(Html.DevExtreme().Chart()
        .ID("lineChart")
        .Series(s => {
            s.Add().ArgumentField("WorkerName").ValueField("Rating");
        })
        .ArgumentAxis(a => a
            .Label(l => l
                .OverlappingBehavior(OverlappingBehavior.Stagger)
                .WordWrap(VizWordWrap.None)
            )
        )
        .Legend(l => l
            .Visible(false)
        )
        .DataSource(Model)
        .Palette(VizPalette.SoftBlue)
    )
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var url_string = window.location.href
        var url = new URL(url_string);
        var Month = url.searchParams.get("Month");

        $(document).ready(function () {
            $("#monthDropDown").dxSelectBox("instance").option("value", Month);
            $("#pieChartDiv").hide();
            $("#barChartDiv").hide();
            $("#lineChartDiv").hide();
        })        

        function monthValueChange(data) {
            var selectedValue = data.value
            $(".reportlink").attr('href', '/Admin/Report/GenerateReport?Month=' + selectedValue);
        }


        $(".piechartLink").click(function () {
            $("#pieChartDiv").show();
            $("#barChartDiv").hide();
            $("#lineChartDiv").hide();
            $("#pieChart").dxPieChart("instance").refresh()
        })

        $(".barchartLink").click(function () {
            $("#pieChartDiv").hide();
            $("#barChartDiv").show();
            $("#lineChartDiv").hide();
            $("#barChart").dxChart("instance").refresh()
        })

        $(".linechartLink").click(function () {
            $("#pieChartDiv").hide();
            $("#barChartDiv").hide();
            $("#lineChartDiv").show();
            $("#lineChart").dxChart("instance").refresh()
        })

</script>

}