@model CoolCareSystem.Models.UserModel

@{
    /**/

    ViewBag.Title = "Create Account";
}

<p class="title1 text-center">Create Account</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-horizontal col-md-offset-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="alert-notification">
            @if (TempData["UserNameTaken"] != null)
            {
                <div class="alert alert-danger alert-message">
                    @TempData["UserNameTaken"]
                </div>
            }
            @if (TempData["PasswordError"] != null)
            {
                <div class="alert alert-danger alert-message">
                    @TempData["PasswordError"]
                </div>
            }
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="FirstName">First Name</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.FirstName)
                    .ID("FirstName")
                    .Placeholder("Enter First Name")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LastName">Last Name</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.LastName)
                    .ID("LastName")
                    .Placeholder("Enter Last Name")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="EmailAddress">Email Address</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.EmailAddress)
                    .ID("EmailAddress")
                    .Placeholder("Enter Email Address")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MobileNumber">Mobile No</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.MobileNumber)
                    .ID("MobileNumber")
                    .Placeholder("Enter Mobile Number")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="UserName">Username</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.UserName)
                    .ID("UserName")
                    .Placeholder("Enter Username")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Password</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.Password)
                    .ID("Password")
                    .Placeholder("Enter Password")
                    .Mode(TextBoxMode.Password)
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ConfirmPassword">Confirm Password</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.ConfirmPassword)
                    .ID("ConnfirmPassword")
                    .Placeholder("Enter Confirm Password")
                    .Mode(TextBoxMode.Password)
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/account.js"></script>
}