@model CoolCareSystem.Models.UserProfileVM

@{
    ViewBag.Title = "User Profile";
}

@if (User.IsInRole("User"))
{
    <p class="title1 text-center">User Profile</p>
}
else
{
    <p class="title1 text-center">Admin Profile</p>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-horizontal col-md-offset-3">
        <div class="alert-notification">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-message">
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-message">
                    @TempData["ErrorMessage"]
                </div>
            }
            @if (TempData["PasswordError"] != null)
            {
                <div class="alert alert-danger alert-message">
                    @TempData["PasswordError"]
                </div>
            }
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2" for="FirstName">First Name</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.FirstName)
                    .ID("FirstName")
                    .Placeholder("Enter First Name")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LastName">Last Name</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.LastName)
                    .ID("LastName")
                    .Placeholder("Enter Last Name")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="EmailAddress">Email Address</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.EmailAddress)
                    .ID("EmailAddress")
                    .Placeholder("Enter Email Address")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MobileNumber">Mobile No</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.MobileNumber)
                    .ID("MobileNumber")
                    .Placeholder("Enter Mobile Number")
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="UserName">Username</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.UserName)
                    .ID("UserName")
                    .Placeholder("Enter Username")
                    .ReadOnly(true)
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Password</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.Password)
                    .ID("Password")
                    .Placeholder("Enter Password")
                    .Mode(TextBoxMode.Password)
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ConfirmPassword">Confirm Password</label>
            <div class="col-md-6">
                @(Html.DevExtreme().TextBoxFor(m => m.ConfirmPassword)
                    .ID("ConnfirmPassword")
                    .Placeholder("Enter Confirm Password")
                    .Mode(TextBoxMode.Password)
                    .Width("100%"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit Profile" class="btn btn-primary btn-xs" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/account.js"></script>
}
