<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cool Care System</title>
    <link rel="icon" href="~/Content/images/CoolCareCenter Logo.jpg.png" type="image/x-icon">
    <link href="~/Areas/Admin/Content/Site.css" rel="stylesheet" />

    <span id="lightTheme">@Styles.Render("~/Contentlight/css")</span>

    <span id="darkTheme">@Styles.Render("~/Contentdark/css")</span>

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Cool Care System", "Index", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.title == "Products")
                    {
                        <li class="active">@Html.ActionLink("Products", "Product", "Product")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Products", "Product", "Product")</li>
                    }
                    @if (ViewBag.title == "Services")
                    {
                        <li class="active">@Html.ActionLink("Services", "Service", "Service")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Services", "Service", "Service")</li>
                    }
                    @if (ViewBag.title == "Service Status")
                    {
                        <li class="active">@Html.ActionLink("Service Status", "ServiceStatus", "Service")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Service Status", "ServiceStatus", "Service")</li>
                    }
                    @if (ViewBag.title == "GenerateReport")
                    {
                        <li class="active">@Html.ActionLink("Reports", "GenerateReport", "Report", new { Month = 00 }, new { @class = "Report" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Reports", "GenerateReport", "Report", new { Month = 00 }, new { @class = "Report" })</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/Account/Logout">Logout</a></li>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <li class="active"><a href="/Account/Login">Login</a></li>
                        }
                        else
                        {
                            <li><a href="/Account/Login">Login</a></li>
                        }
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a style="cursor:pointer" onclick="setTheme('Light')">Light Mode</a></li>
                            <li><a style="cursor:pointer" onclick="setTheme('Dark')">Dark Mode</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Cool Care System</p>
        </footer>
    </div>
    <style>
        .loadingDiv-parent {
            position: fixed;
            text-align: center;
            width: 100%;
            height: 100%;
            z-index: 999998;
        }

        .loadingDiv .loading-image {
            display: block;
            margin: 25px 75px;
        }

        .loadgif {
            vertical-align: middle;
            filter: invert(100%) hue-rotate( -244deg ) brightness(0.5) opacity(0.9) saturate(0.5);
        }

        .loadingDiv {
            position: fixed;
            text-align: center;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999999;
            opacity: 0.9;
            background: black !important;
            filter: saturate(8);
        }
        
    </style>
    <div class="loadingDiv-parent">
        <div class="loadingDiv">
            <div class="card border-success">
                <div class="card-header">
                    <img class="loadgif" src="~/Content/images/loading.gif" />
                </div>
                <div class="card-body">
                    <i class="Your_icon loading-image" style="font-size:7em;" aria-hidden="true"></i>
                    <span id="panelclose_btn"></span>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        if (localStorage.getItem("Theme") == "" || localStorage.getItem("Theme") == undefined || localStorage.getItem("Theme") == "Light") {
            $("#darkTheme").remove();
        }
        if (localStorage.getItem("Theme") == "Dark") {
            $("#lightTheme").remove();
        }
    });
    function setTheme(mode) {
        localStorage.setItem("Theme", mode);
        window.location.reload();
    }
    $(window).on('load', function () {
        $(".loadingDiv-parent").fadeOut("slow");
    });
    $(window).on('beforeunload', function () {
        $(".loadingDiv-parent").fadeIn(50);
    });
</script>
