@model IEnumerable<CoolCareSystem.Models.ProductModel>

@{
    ViewBag.Title = "Products";
}

<p class="title1">Products For Sales</p>

@Html.ActionLink("Add New Product", "AddProduct", "UserProduct", new { @class = "btn btn-sm btn-primary pull-left" })
@Html.ActionLink("My Products", "UserProduct", "UserProduct", new { @class = "btn btn-sm btn-primary pull-right" })
<br />
<br />
<br />
@if (!Model.Any())
{
    <h3 class="text-center">There are no products</h3>
}
else
{
    <table class="table table-striped" id="productTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BilledYear)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        ₹ @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BilledYear)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "ProductDetails", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        dataTableSetup("productTable");
    </script>
}