@model CoolCareSystem.Models.ProductModel


@{
    ViewBag.Title = Model.ProductName;
}

<p class="title text-center">Product - @Model.ProductName</p>
<br />

<div class="row" id="productDetails">
    <div class="col-xs-12 col-md-4">
        <p><b>Product Image</b></p>
        <img src="@Model.ImageName" width="200" height="200"/>
    </div>
    <div class="col-xs-12 col-md-8">
        <p><span class="col-md-3"><b>User Name </b></span><span>- @Html.DisplayFor(model => model.UserName)</span></p>
        <p><span class="col-md-3"><b>Mobile Number </b></span><span>- @Html.DisplayFor(model => model.MobileNumber).ToString().Remove(10)</span></p>
        <p><span class="col-md-3"><b>Price </b></span><span>- ₹ @Html.DisplayFor(model => model.Price)</span></p>
        <p><span><b>&nbsp;&nbsp;&nbsp;&nbsp; Description </b></span></p>
        <div style="margin-left:15px">@Html.Raw(Model.Description)</div>
        <p><span class="col-md-3"><b>Billed Year </b></span><span>- @Html.DisplayFor(model => model.BilledYear)</span></p>
        <p><span class="col-md-3"><b>Requested At </b></span><span>- @Html.DisplayFor(model => model.RequestedAt)</span></p>
        <br />
        @if ((bool)Model.IsApproved == false)
        {
            <a href="#" class="approveProduct btn btn-primary btn-sm">Approve</a>
            @Html.ActionLink("Back to products", "Product", "Product", new { @class = "btn btn-primary pull-right btn-sm" })
        }
        else
        {
            <a href="#" class="btn btn-primary disabled btn-sm">Approved</a>
            @Html.ActionLink("Back to products", "Product", "Product", new { @class = "btn btn-primary pull-right btn-sm" })
        }
    </div>
</div>
<br />
<div class="alert-note">
    <p class="alert alert-success alert-message ajaxMsg">
        Product Approved
    </p>
</div>
<br />

@section Scripts {
    <script src="~/Scripts/account.js"></script>
    <script>
        $(function () {
            $("a.approveProduct").click(function (e) {
                e.preventDefault();
                var url = "/Admin/Product/ApproveProduct";
                $.get(url, { id: @Model.Id }, function (data) {
                    var status = data
                }).done(function () {
                    $("p.ajaxMsg").addClass("divInline");
                    setTimeout(function () {
                        $("p.ajaxMsg").fadeOut("fast");
                        $("p.ajaxMsg").removeClass("divInline");
                    }, 1000);   
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                });
            });
        });
    </script>
}